<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Training Institute</span>
      <span class="example-spacer"></span>
      <span *ngIf="showWelcomeText()">{{welcomeText}}</span>
      <span *ngIf="showLogin()" (click)="login()">Login</span>
      &nbsp;
      <span *ngIf="showWelcomeText()">|</span>
      &nbsp;
      <span *ngIf="showWelcomeText()" (click)="logout()">Logout</span>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <app-side-nav></app-side-nav>
    </mat-toolbar-row>
</mat-toolbar>