<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Training Institute</span>
      <span class="example-spacer"></span>
      <span *ngIf="showWelcomeText()">{{welcomeText}}</span>
      <span *ngIf="showLogin()" (click)="login()">Login</span>
      <span *ngIf="showWelcomeText()">
        &nbsp;
        <span>|</span>
        &nbsp;
        <span (click)="logout()">Logout</span>
      </span>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <app-side-nav></app-side-nav>
    </mat-toolbar-row>
</mat-toolbar>