<!-- <form [formGroup]="signupForm">
    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput [formControl]="name" required />
        <mat-error *ngIf="name.invalid">Enter a valid name</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Education</mat-label>
        <mat-select>
            <mat-option value="option">Option</mat-option>
        </mat-select>
        <mat-error *ngIf="name.invalid">Enter a valid name</mat-error>
    </mat-form-field>
    <mat-radio-group [formControl]="gender">
        <mat-radio-button value="male">Male</mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button>
    </mat-radio-group>
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput [formControl]="email" required />
        <mat-error *ngIf="email.invalid">Enter valid email</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" [formControl]="password" required />
        <mat-error *ngIf="password.invalid">Enter valid password</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Passing year</mat-label>
        <mat-select>
            <mat-option value="option">Option</mat-option>
        </mat-select>
        <mat-error *ngIf="name.invalid">Enter a valid name</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Experience in years</mat-label>
        <mat-select>
            <mat-option value="option">Option</mat-option>
        </mat-select>
        <mat-error *ngIf="name.invalid">Enter a valid name</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Courses</mat-label>
        <mat-select>
            <mat-option value="option">Option</mat-option>
        </mat-select>
        <mat-error *ngIf="name.invalid">Enter a valid name</mat-error>
    </mat-form-field>
</form> -->